/* Basic */
$black: #000;
$white: #fff;

/* Blue Series */
$blue-50: #f0f6ff;
$blue-100: #cde0fe;
$blue-200: #b4d1fd;
$blue-300: #6aa3fb;
$blue-400: #5194fb;
$blue-500: #3884fa;
$blue-600: #1a6ae6;
$blue-700: #0551c7;
$blue-800: #043d95;
$blue-900: #022964;


/* LooView colors */

$looview-electric-blue: #080b5a;
$looview-orange: #f29332;
$looview-dark-orange: #ff661a;
$looview-rusty-tractor-dark: #5feae6;

/* New  Color Series */
$d-input: #f1f4f8;
$d-blue: #1d57a5;
$d-pin: #7397c7;
$d-subtitle1: #b4c5d9;
$d-subtitle: #87a1c1;
$d-offwhite: #f8f8fb;
$d-border: #e9ebef;
$d-hr: #c5d0df;
$d-highlight: #3587f5;
$d-teal: #33ccd6;
$d-green: #33d69f;
$d-red: #ff4c61;
$d-orange: #f59d4c;
$d-yellow: #ffc33d;
$d-black: #373b53;

/* Gray Series */
$gray-50: #f7f7f7;
$gray-100: #ededed;
$gray-200: #e5e5e5;
$gray-300: #d9d9d9;
$gray-400: #cccccc;
$gray-500: #b2b2b2;
$gray-550: #a5a4a4;
$gray-600: #808080;
$gray-700: #666666;
$gray-800: #4d4d4d;
$gray-900: #1a1a1a;
$grey-notselected: #989898;
$grey-selected: #F0FAEC;
/* Primary */
$green: #459142;
$orange: #eba535;
$red: #e75127;
$dark-red: #b42314;

/* Shadow */
$header-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
$mid-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
$semi-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
$dialog-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);

/* Gradient */
$overlay-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
